<div class="main-wrapper">

  <!-- =========================
       PRELOADER
  ============================== -->
  <div class="preloader">
    <div class="loader-container">
      <div class="text-logo"><%= image_tag('logo_plantago_orange.png', style: 'width: 180px') %></div>
      <div class="signal"></div>
    </div>
  </div>


  <!-- =========================
       HEADER
  ============================== -->
  <header class="header" id="top" data-stellar-background-ratio="0.5">
    <!-- Background Overlay -->
    <div class="overlay">

      <!-- =========================================
           Navigation
      ========================================== -->
      <nav class="navbar" role="navigation">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <!-- Navbar-Header -->
              <div class="navbar-header">

                <!-- Text-Logo -->
                <a href="#top" class="navbar-brand scrollto" title="Plantago">
                  <span class="text-logo">
                    <%= image_tag('logo_plantago.png', style: 'width: 150px') %>
                  </span>
                </a>

                <!-- Image-Logo: Remove this comments and the section above Text-Logo if you want to add an Image-Logo (recommended sizes -> max-height:50, max-width:200)

                <a href="#top" class="navbar-brand img-logo scrollto" title="SmartMvp">
                    <img src="assets/images/logo.png" alt="Logo">
                </a>
                -->

              </div><!-- /End Navbar-Header -->

            </div><!-- /End Col -->
          </div><!-- /End Row -->
        </div><!-- /End Container -->
      </nav><!-- /End Sticky Navigation -->


      <!-- =========================================
           Hero-Section
      ========================================== -->
      <div class="container vmiddle hero-app">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="hero-section">

              <!-- Welcome - Hero Message -->
              <h1 class="text-white">This city needs a hero!</h1>
              <h1 class="text-white">Plantago aka Podorozjnik</h1>
              <p class="text-white">Get connected anytime, anywhere with nearest clinic, physician or new superhero!</p>

              <!-- Learn More & Video Buttons -->
              <div class="btn-box">
                <a href="http://shared.everlabs.com/android-debug.apk" class="btn btn-color scrollto"><i class="icon icon_cloud-download_alt"></i>Download Plantago DSS App</a>
              </div>

            </div><!-- /End Intro-Section -->
          </div><!-- /End Col -->
          <!-- App Showcase Image -->
          <div class="col-md-6 hidden-xs hidden-sm">
            <div class="app-box">
              <div class="img-wrapper">
                <%= image_tag '1.png', id: '1' %>
                <%= image_tag '2.png', id: '2' %>
                <%= image_tag '3.png', id: '3' %>
                <%= image_tag '4.png', id: '4' %>
              </div>
            </div>
            <ul class="points">
              <li class="active" data-id="1"></li>
              <li data-id="2"></li>
              <li data-id="3"></li>
              <li data-id="4"></li>
            </ul>
          </div>

        </div><!-- /End Row -->
      </div><!-- /End Container Hero-Section -->


    </div><!-- /End Background Overlay -->
  </header>
  <hr class="colored-divider" />
  <section class="intro-features" id="about">
    <div class="container">
      <!-- Padding -->
      <div class="wrapper-lg">
        <div class="row">
          <!-- Section Header Title -->
          <div class="col-xs-12">
            <h2>It's about decision support and it's multifunctional</h2>
            <p class="large">Spend less time worrying about your health. Trust Plantago superhero!</p>
          </div>
        </div>
        <!-- Three Main Features with Icons -->
        <div class="row">
          <div class="col-sm-4 intro-content">
            <div class="icon-lg">
              <i class="ion-medkit"></i>
            </div>
            <h4>Emergency call</h4>
            <p>You can call to local emergency service according to the country you are located. For example, for Ukraine it calls 103, for US – 911.</p>
          </div>
          <div class="col-sm-4 intro-content">
            <div class="icon-lg">
              <i class="ion-location"></i>
            </div>
            <h4>Physician support or near clinics</h4>
            <p>According to the quiz results system can propose you nearest clinics or country physician support by phone call.</p>
          </div>
          <div class="col-sm-4 intro-content">
            <div class="icon-lg">
              <i class="ion-information-circled"></i>
            </div>
            <h4>Plantago superhero</h4>
            <p>Killer feature is Plantago's help. If you have no serious health problems or injures just allow Plantago superhero to help you!</p>
          </div>
        </div><!-- /End Row -->
      </div><!-- /End Wrapper -->
    </div><!-- /End Container -->
  </section>
  <section class="newsletter color-bg" id="newsletter">
    <div class="container">
      <div class="wrapper-sm">
        <div class="row">
          <div class="col-md-12">
            <p class="text-center text-white">Created with <i class="ion-heart"></i> by Everteam</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>